Landing page created for locations index.html.erb

<% @places.each do |x| %>
<li>
<%= link_to x.name, x %>
<%= link_to "Edit", edit_location_path(x) %>
<%= link_to "Delete", x, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
<% end %>